body{
    background-color: black;
}

.header {
    color: lightblue;
}

.midden {
    text-align: center;
    border: solid 1px black;
    margin-bottom: 50px;
    color: lightblue;
}

.schaal {
    height: 300px;
    width: auto;
    border-radius: 100%;
}

.onder {
    text-align: center;
}
