
body {
    background-image: url("https://res.cloudinary.com/cb-media/image/upload/f_auto,w_800/cmsmedia/prod/binaries/content/gallery/cbhippowebsite/tests/mobiel-abonnement/afbeeldingen/bellen-smartphone.jpg");
  }

.header {
    color: lightblue;
    text-align: center;
}

.menu {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
   }
    
   .menu {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
   }
    
   .menu ul li {
    display: inline;
    padding: 0 5px;
    margin-right: 30px;
   }
    
   .menu ul li a, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
   }
    
   .menu ul li a:hover {
    color: lightblue;
    text-decoration: underline;
   }

   .midden {color: lightblue ;}