
body {
    background-image: url("https://radar.assets.avrotros.nl/_processed_/b/9/csm_telefoon_man_312_de7e27fb7b.jpg");
  }

.header {
    color: lightblue;
    text-align: center;
}

.menu {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
   }
    
   .menu {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
   }
    
   .menu ul li {
    display: inline;
    padding: 0 5px;
    margin-right: 30px;
   }
    
   .menu ul li a, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
   }
    
   .menu ul li a:hover {
    color: lightblue;
    text-decoration: underline;
   }

   .midden {color: lightblue ;}