body
{
    background-image: url("https://media.istockphoto.com/id/1353112627/vector/dark-blue-de-focused-blurred-motion-abstract-background.jpg?s=612x612&w=0&k=20&c=KQ_FziUcEM0OPx4RQNrLJsKvA4dR8Ho8ezPmz-BQBTY=");

    background-repeat: no-repeat;

	background-size: cover;
  }

  article {
    color: white;
  text-align: center;
  
  }